.regForm{
	display: flex;
	background: #000;
	color: #fff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 500px;
}


input{
	font-size:2rem;
	color: #000;
}